@import '@/app/styles/variables.module';
@import '@/app/styles/mixins.module';
@import '@/app/styles/animations.module';

.about {
	display: flex;
	flex-direction: column;
	padding: 183px 0 206px 0;
	max-width: 1920px;
	margin: 0 auto;

	&__wrapper {
		width: 100%;
		background: $backgroundGradientAboutUs;
	}

	&__top {
		display: flex;
		flex-direction: column;
		gap: 128px;
	}

	&__title {
		font: $involveH10;
		line-height: 97px;
		color: $oceanBlue50;

		&_span {
			color: $oceanBlue;
			&_large {
				font: $involveH11;
			}
		}
	}

	&__cards-wrapper {
		display: grid;
    grid-template-columns: repeat(3, minmax(auto, 100%));
		gap: 93px 20px;
	}

	&__card {
		display: flex;
		flex-direction: column;
	}

	&__card-title {
		@include onestFont($onestH42);
		line-height: 150px;
		background: $textGradient;
		color: transparent;
		background-clip: text;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		text-wrap: nowrap;
	}

	&__card-title-br {
		display: none;
	}

	&__card-subtitle {
		@include onestFont($onestH25);
		line-height: 36px;
		color: $oceanBlue70;
		text-wrap: nowrap;
	}

	&__text-card {
		display: flex;
		align-items: center;
		gap: 28px;
		padding: 62px;
		background-color: $blueSky;
    min-width: 599px;
	}

	&__text-card-icon {
		width: 46px;
		height: 57px;
	}

	&__text-card-icon_mobile {
		display: none;
	}

	&__text-card-title {
		max-width: 401px;
    width: 100%;
		@include onestFont($onestH25);
		line-height: 36px;
		color: $oceanBlue;
	}
}

@media screen and (max-width: 1920px) {
	.about {
		padding-top: 149px;
		max-width: 1440px;

		&__top {
			gap: 100px;
		}

		&__title {
			font: $involveH7;
			line-height: 69px;

			&_span_large {
				font: $involveH8;
			}
		}

		&__cards-wrapper {
			gap: 69px 20px;
		}

		&__card-title {
			@include onestFont($onestH40);
			line-height: 107px;
		}

		&__card-title-br {
			display: flex;
		}

		&__card-subtitle {
			@include onestFont($onestH12);
			line-height: 26px;
		}

		&__text-card {
			width: 100%;
			gap: 20px;
			padding: 44px 38px;
      min-width: 417px;
		}

		&__text-card-icon {
			width: 33px;
			height: 41px;
		}

		&__text-card-title {
			max-width: 288px;
			@include onestFont($onestH12);
			line-height: 26px;
		}
	}
}

@media screen and (max-width: 1440px) {
	.about {
		max-width: 1240px;
		padding: 80px 0;

		&__top {
			gap: 60px;
		}

		&__title {
			font: $involveH15;
			line-height: 48px;

			&_span {
				&_large {
					font: $involveH10_1;
					line-height: 88px;
				}
			}
		}

    &__cards-wrapper {
      gap: 60px 20px;
      grid-template-columns: 400px auto 400px;
    }

    &__card-title {
			@include onestFont($onestH38);
			line-height: 85px;
		}

    &__card-subtitle {
			@include onestFont($onestH10);
			line-height: 23px;
		}

    &__text-card {
      min-width: 400px;
      max-width: 400px;
      padding: 37px 42px;
    }

    &__text-card-icon {
			width: 37px;
			height: 46px;
		}

    &__text-card-title {
			max-width: 259px;
			@include onestFont($onestH10);
			line-height: 23px;
		}
	}
}

@media screen and (max-width: 1279px) {
  .about {
    max-width: 984px;

    &__top {
      padding: 0;
    }

    &__cards-wrapper {
      grid-template-columns: 315px auto 315px;
    }

    &__text-card {
      min-width: unset;
      max-width: unset;
      padding: 25px 30px;
    }

    &__text-card-title {
			max-width: unset;
		}
  }
}

@media screen and (max-width: 1023px) {
  .about {
    max-width: 728px;
    padding: 80px 0 0 0;

    &__cards-wrapper {
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto auto auto;
      gap: 40px 20px;
    }

    &__card-title {
			@include onestFont($onestH35);
			line-height: 66px;
		}

    &__card-subtitle {
			@include onestFont($onestH7);
			line-height: 20px;
		}

    &__text-card {
      grid-column: 1 / 4;
      grid-row: 3 / 4;
      padding: 20px 129px;
    }

    &__text-card-title {
			max-width: unset;
			@include onestFont($onestH7);
			line-height: 20px;
		}
  }
}

@media screen and (max-width: 768px) {
	.about {
    max-width: 363px;
    padding: 90px 0 0 0;
    margin: 0 auto;

		&__top {
			gap: 52px;
			padding: 0;
		}

		&__title {
			font: $involveH4;
			line-height: 43px;
			max-width: 323px;

			&_span_large {
				font: $involveH4;
			}
		}

		&__cards-wrapper {
      grid-template-columns: auto;
      grid-template-rows: repeat(4, auto);
			gap: 52px;
		}

		&__card {
			gap: 2px;
			margin: 0;

      &:nth-of-type(4) {
        display: none;
      }
		}

		&__card-title {
			@include onestFont($onestH34);
			line-height: 61px;
			text-align: center;
		}

		&__card-subtitle {
			@include onestFont($onestH12);
			line-height: 26px;
			text-align: center;
		}

		&__text-card {
      grid-column: 1 / 2;
      grid-row: 5 / 6;
			gap: 20px;
			padding: 48px 42px;
			background-color: $oceanBlue;
			width: auto;
		}

		&__text-card-icon {
			display: none;
		}

		&__text-card-icon_mobile {
			display: flex;
			width: 33px;
			height: 41px;
		}

		&__text-card-title {
			max-width: 226px;
			@include onestFont($onestH7);
			line-height: 20px;
			color: $snowWhite;
		}
	}
}