@import '@/app/styles/variables.module';
@import '@/app/styles/mixins.module';

.accordion {
  padding: 23px;
  display: flex;
  flex-direction: column;
  background-color: $snowWhite;
  box-shadow: 0 2px 4px 0 rgba(0, 57, 144, 0.2);

  &__top {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  &__title {
    @include onestFont($onestH26);
    line-height: 41px;
    color: $oceanBlue;
  }

  &__arrow {
    transition: $btnTransition;
    width: 30px;
  }

  &__arrow_active {
    transform: rotate(180deg);
  }

  &__text {
    display: flex;
    max-height: 0;
    padding: 0;
    @include onestFont($onestH25);
    line-height: 36px;
    color: $nightBlue50;
    font-weight: 400;
    overflow: hidden;
    transition: max-height $btnTransition;
    transition: margin-top $btnTransition;
    max-width: 1500px;
    text-wrap: pretty;

    &_visible {
      margin-top: 15px;
      max-height: 100vh;
    }
  }
}

@media screen and (max-width: 1920px) {
  .accordion {
    padding: 21px;

    &__title {
      @include onestFont($onestH20);
      line-height: 29px;
    }

    &__arrow {
      width: 21px;
    }

    &__text {
      @include onestFont($onestH12);
      line-height: 26px;
      max-width: 1015px;

      &_visible {
        margin-top: 11px;
      }
    }
  }
}

@media screen and (max-width: 1440px) {
  .accordion {
    padding: 16px;

    &__title {
      @include onestFont($onestH18);
      line-height: 28px;
    }

    &__arrow {
      width: 22px;
    }

    &__text {
      @include onestFont($onestH10);
      line-height: 23px;
      max-width: 1006px;

      &_visible {
        margin-top: 12px;
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .accordion {
    &__text {
      max-width: 800px;
    }

    &__br {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .accordion {
    &__title {
      max-width: 613px;
    }

    &__text {
      max-width: 517px;
    }
  }
}

@media screen and (max-width: 768px) {
  .accordion {
    &__title {
      @include onestFont($onestH7);
      line-height: 20px;
      max-width: 291px;
    }

    &__text {
      max-width: 291px;
      @include onestFont($onestH5);
      line-height: 18px;
    }
  }
}